server:
  port: 8080

spring:
  application:
    name: gatewey-service
  cloud:
    discount:
      enabled: true
    gateway:
      server:
        webflux:
          routes:
            - id: customer-service
              uri: lb://CUSTOMER-SERVICE
              predicates:
                - Path=/customers/**
            - id: inventory-service
              uri: lb://INVENTORY-SERVICE
              predicates:
                - Path=/products/**